{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Vat</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.vat }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('products_show', {'id': product.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('products_edit', {'id': product.id}) }}">Edit</a>
                    <a class="btn btn-info" href="{{ path('cart_add', {'id': product.id}) }}">Add</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="text-center">
    <a class="btn btn-success" href="{{ path('products_new') }}">Create new</a>
</div>
{% endblock %}
