{% extends 'base.html.twig' %}

{% block title %}Producten{% endblock %}

{% block body %}
    <h1>Onze producten</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Beschrijving</th>
                <th>BTW</th>
                <th>Prijs</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.vat }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('products_show', {'id': product.id}) }}">Bekijken</a>
                    <a class="btn btn-warning" href="{{ path('products_edit', {'id': product.id}) }}">Aanpassen</a>
                    <a class="btn btn-info" href="{{ path('cart_add', {'id': product.id}) }}">Toevoegen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="text-center">
    <a class="btn btn-success" href="{{ path('products_new') }}">Nieuwe product maken</a>
</div>
{% endblock %}
